/* div.marvel{
    background-image: url(../images/comics-marvel.jpg);
    background-size: 95rem ;
    border-color: darkslategray;
    border-width: 10px;
    height: 43.1em;
    width: 100%;
    margin-top: -0.3em;
    position: absolute;
} */